.bigeventcontent {
    .title {
        margin-top: 20px;
        font-size: 25px;
        color: rgb(22, 67, 139);
        position: relative;
        padding-left: 20px;
        &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            left: 0;
            top: 0;
            background: rgb(22, 67, 139);
        }
    }
    .content {
        margin-top: 20px;
        color: #6f6f6f;
        .item {
            display: flex;
            .time {
                flex: 0 0 120px;
                line-height: 50px;
                cursor: pointer;
                color: #333333;
            }
            .brief {
                flex: 1;
                line-height: 50px;
                cursor: pointer;
                color: #333333;
            }
        }
    }
}