.contactus {
    .title {
        margin-top: 20px;
        font-size: 25px;
        color: rgb(22, 67, 139);
        position: relative;
        padding-left: 20px;
        &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            left: 0;
            top: 0;
            background: rgb(22, 67, 139);
        }
    }
    .container1 {
        margin-left: 20px;
        margin-top: 20px;
        .top {
            color: #333333;
            line-height: 30px;
            font-size: 20px;
        }
        .body {
            color: #6f6f6f;
            margin-top: 20px;
            line-height: 30px;
        }
    }
}